<nav>
    <div class="site-title">
        <a href="/"><h1>Loca Notes</h1></a>
        <p>ICSI 418Y test Site</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/notes/create">New Note</a></li>
    </ul>
</nav>