 <html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>


    <div class="not-found content">
        <font size="+4">404 page not found.</font>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>